<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link href="../webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="../webjars/jquery/jquery.min.js"></script>
    <script src="../webjars/sockjs-client/sockjs.min.js"></script>
    <script src="../webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/views/js/config.js"></script>
    <script src="/views/js/chat.js"></script>
    <script src="/views/js/navbar.js"></script>
    <link href="/views/css/chatpage.css" rel="stylesheet"></link>
    <link href="/views/css/nav-bar.css" rel="stylesheet"></link>
  
    </head>


<body>
	<nav class="navbar-nav">
	<div class="logo">Ketu</div>
	<div class="navbar-element">
	<div class="icons">
		<div class="navbar-element-content">
			<div class="navbar-element-icon" id="nav-bar-picture-icon"><img height=100% id="nav-bar-profile-picture" width=100% alt="">
			</div>
		</div>
		<div class="navbar-element-content">
			<div class="navbar-element-icon"><img height=100% width=100% alt="" src="/views/images/notification-icon-7.png" style="background:#4a0080;padding:5px"></div>
		</div>
		<div class="navbar-element-content">
			<div class="navbar-element-icon"><img height=100% width=100% alt="" src="/views/images/profile-icon.png" style="background:#4a0080;padding:5px"></div>
		</div>
		<div class="navbar-element-content">
			<div class="navbar-element-icon"><img height=100% width=100% alt="" src="/views/images/message-icon-2.png.png" style="background:#4a0080;padding:5px"></div>
		</div>
	</div>
	<div class="display-options-box">
	<ul class="settings-box">
		<li><div class="edit-profile-option">
			<img height=100% width=30px style="margin-right:10px;" src="/views/images/edit-profile-icon-2.png">Edit Profile
			</div>
		<hr>
		</li>
		<li>Account Settings<hr></li>
		<li>General Settings<hr></li>
		<li>Privacy Concerns<hr></li>
		<li>Activity<hr></li>
		<li>Logout</li>
	</ul>
	</div>
	</div>
	
	</nav>
	<div class="content-container" align="center">
		<div class="split right">
			<div class="box center-text">
				<h4>Recent Conversations</h4>
			</div>
			
			<div class="box search-box-container">
				<div class="form-group has-feedback">
					<i class="glyphicon glyphicon-search form-control-feedback"></i>
					<input type="text" placeholder="Search Conversations" class="search-box">
				</div>
			</div>
			<div class="conversations" id="conversations">
			
			</div>
			
		</div>
		<div class="split center">
			<div class="box user-info">
				<div class="user-info-container">
					<div style="font-size:120%" id="heading-name"></div>
					<div id="heading-username"></div>
				</div>
				<button type="button" class="close chat-close-button" aria-label="Close">
  						<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="side-box user-display-box" id="online_users">
				<div class="box center-text"><p><b>Online</b></p></div>
			</div>
			<div class="box chat-box">
			<div class='box chat-display-box' >
				<p style="margin-top:40%">You have no current conversations</p>
			</div>
			
			</div>
				<div class="box chat-action-box">
					<div><input  class="chat-text-box" id ="chat-text-box" type="text" placeholder="Write you message"></div>
					<div class="chat-options-container"><button type='button' class='btn send_button' id="send_button" onclick="send()" disabled>Send</button></div>
				</div>
			
		</div>
		<div class="flip-container left">
			<div class="flipper">
				<div class="front">
					<div class="selected-user-info">
						
				</div>
			</div>
		</div>
	</div>
	</div>
</body>
</html>