<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link href="../webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
     <script src="/views/js/config.js"></script>
    <script src="../webjars/jquery/jquery.min.js"></script>
    <script src="../webjars/sockjs-client/sockjs.min.js"></script>
    <script src="../webjars/stomp-websocket/stomp.min.js"></script>
    <link href="/views/css/newcss.css" rel="stylesheet"></link>
    </head>

<body>
</body>
	<div class="navbar-nav">
	</div>
	<div class="content-container" align="center">
		<div class="split left">
			<div class="box">
				<h4>Recent Conversations</h4>
			</div>
			
			<div class="box">
				<div class="form-group has-feedback">
					<i class="glyphicon glyphicon-search form-control-feedback"></i>
					<input type="text" placeholder="Search Conversations" class="search-box">
				</div>
			</div>
			<div class="conversations">
				<div class="single-conversation">
					<div class="profile-picture">
						<img src="/views/download.png"/>
					</div>
					<div class="conversation-content">
						<div style="font-size:120%"><b>Yash Pandey</b></div>
						<div>Hello World!</div>
					</div>
					<div class="conversation-date">
						<div>11 Sep</div>
					</div>
				</div>
			</div>
			
		</div>
		<div class="split center">
			<div class="box user-info">
				<div class="user-info-container">
					<div style="font-size:120%"><b>Yash Pandey</b></div>
					<div>imyash8055</div>
				</div>
			</div>
			<div class="side-box user-display-box">
			
			</div>
			<div class="box chat-box">
				<div class="box chat-display-box">
					
					<div class="left-message chat-message" align="left"><div><p class="chat-message-title"><b>Yash</b></p><p class="chat-message-text">Hi Yash</p></div><p class="chat-message-time">11.36 am</p></div>
					<div class="right-message chat-message" align="left"><div><p class="chat-message-title"><b>Yash</b></p><p class="chat-message-text">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
			    enabled. Please enable
			    Javascript and reload this page!</p></div><p class="chat-message-time">11.36 am</p></div>
				
				</div>
				<div class="box chat-action-box">
					<div><input  class="chat-text-box" type="text" placeholder="Write you message"></div>
					<div class="chat-options-container"><button type='button' class='btn'>Send</button></div>
				</div>
			</div>
		</div>
		<div class="split right">
			
		</div>
	</div>
</html>