<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link href="../webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="../webjars/jquery/jquery.min.js"></script>
    <script src="../webjars/sockjs-client/sockjs.min.js"></script>
    <script src="../webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/views/js/config.js"></script>
    <script src="/views/js/dashboard.js"></script>
    <script src="/views/js/cropper.js"></script>
    <link href="/views/css/chatpage.css" rel="stylesheet"></link>
    <link href="/views/css/nav-bar.css" rel="stylesheet"></link>
    <link href="/views/css/dashboard.css" rel="stylesheet"></link>
    <link href="/views/css/components.css" rel="stylesheet"></link>
    <link href="/views/css/cropper.css" rel="stylesheet"></link>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    </head>


<body>
	<div class='split notification-bar'>
		<p class='vertical-align' style='white-space:nowrap'><b>Try again Later Bitchhhh!! hhahahhaha</b></p>
	</div>
	<nav class="navbar-nav">
	<div class="logo">Ketu</div>
	<div class="navbar-element">
	<div class="icons">
		<div class="navbar-element-content">
			<div class="navbar-element-icon" id="nav-bar-picture-icon"><img height=100% id="nav-bar-profile-picture" width=100% alt="">
			</div>
		</div>
		<div class="navbar-element-content">
			<div class="navbar-element-icon"><img height=100% width=100% alt="" src="/views/images/notification-icon-7.png" style="background:#4a0080;padding:5px"></div>
		</div>
		<div class="navbar-element-content">
			<div class="navbar-element-icon"><img height=100% width=100% alt="" src="/views/images/profile-icon.png" style="background:#4a0080;padding:5px"></div>
		</div>
		<div class="navbar-element-content">
			<div class="navbar-element-icon"><img height=100% width=100% alt="" src="/views/images/message-icon-2.png.png" style="background:#4a0080;padding:5px"></div>
		</div>
	</div>
	<div class="display-options-box">
	<ul class="settings-box">
		<li><div class="edit-profile-option">
			<img height=100% width=30px style="margin-right:10px;" src="/views/images/edit-profile-icon-2.png">Edit Profile
			</div>
		<hr>
		</li>
		<li>Account Settings<hr></li>
		<li>General Settings<hr></li>
		<li>Privacy Concerns<hr></li>
		<li>Activity<hr></li>
		<li>Logout</li>
	</ul>
	</div>
	</div>
	</nav>
	<div class="content-container" align="center">
	<div class="split center">
		<div class="dashboard-header">
					<div class='dashboard-header-post'>
						<div class="horizontal"><input type="text" id="update-user-status" placeholder="write something"  class="chat-text-box"/></div>
						<div class="horizontal">
							<div class="post-icon">
								<input type=file id="image-upload"/>
								<label for="image-upload">
									<img height=30px width=30px src="/views/images/uploadImage.png"/>
									<button  style="display:none;"></button>
								</label>
								
							</div>
							<div class="post-icon">
								<input type=file id="video-upload"/>
								<label for="video-upload">
									<img height=30px width=30px src="/views/images/uploadVideo.png"/>
								</label>
							</div>
							<button type='button' class='btn simple-btn post-icon' onclick='post()'>Send</button>
						</div>
					</div>
				</div>	
		</div>
		</div>
</body>
</html>