<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link href="../webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="../webjars/jquery/jquery.min.js"></script>
    <script src="../webjars/sockjs-client/sockjs.min.js"></script>
    <script src="../webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/views/js/config.js"></script>
    <script src="/views/js/dashboard.js"></script>
    <link href="/views/css/chatpage.css" rel="stylesheet"></link>
    <link href="/views/css/nav-bar.css" rel="stylesheet"></link>
    <link href="/views/css/dashboard.css" rel="stylesheet"></link>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    </head>


<body>
	<nav class="navbar-nav">
	<div class="logo">Ketu</div>
	<div class="navbar-element">
	<div class="icons">
		<div class="navbar-element-content">
			<div class="navbar-element-icon" id="nav-bar-picture-icon"><img height=100% id="nav-bar-profile-picture" width=100% alt="">
			</div>
		</div>
		<div class="navbar-element-content">
			<div class="navbar-element-icon"><img height=100% width=100% alt="" src="/views/images/notification-icon-7.png" style="background:#4a0080;padding:5px"></div>
		</div>
		<div class="navbar-element-content">
			<div class="navbar-element-icon"><img height=100% width=100% alt="" src="/views/images/profile-icon.png" style="background:#4a0080;padding:5px"></div>
		</div>
		<div class="navbar-element-content">
			<div class="navbar-element-icon"><img height=100% width=100% alt="" src="/views/images/message-icon-2.png.png" style="background:#4a0080;padding:5px"></div>
		</div>
	</div>
	<div class="display-options-box">
	<ul class="settings-box">
		<li><div class="edit-profile-option">
			<img height=100% width=30px style="margin-right:10px;" src="/views/images/edit-profile-icon-2.png">Edit Profile
			</div>
		<hr>
		</li>
		<li>Account Settings<hr></li>
		<li>General Settings<hr></li>
		<li>Privacy Concerns<hr></li>
		<li>Activity<hr></li>
		<li>Logout</li>
	</ul>
	</div>
	</div>
	</nav>
	<div class="content-container" align="center">
	<div class="split center">
		<div class="dashboard-header">
					<div class='dashboard-header-post'>
						<div class="horizontal"><input type="text" placeholder="write something"  class="chat-text-box"/></div>
						<div class="horizontal">
							<div class="post-icon">
								<img height=30px width=30px src="/views/images/image2.png"/>
								<h5>Photo</h5>
							</div>
							<div class="post-icon">
								<img height=30px width=30px src="/views/images/video2.png"/>
								<h5>Video</h5>
							</div>
							<button type='button' class='btn simple-btn post-icon'>Send</button>
						</div>
					</div>
		</div>	
		<div class="title-content user-content">
			<div class="post-content-header">
				<div class="navbar-element-icon" id="nav-bar-picture-icon">
					<img height=100% id="nav-bar-profile-picture" width=100% src="https://s3.ap-south-1.amazonaws.com/ketu-user-profile-pictures/yash.jpg">
				</div>
				<div><h5><b>imyash8055</b></h5></div>
			</div>
			<div class="post-content">
				<div class="post-content-container horizontal">
					<div class="post-content-box"><img width=100% height=400px alt="" id="post_1" >
					<div class="post-content-footer">
						<div class="navbar-element-icon" id="nav-bar-picture-icon">
						<img width=100% src="/views/images/heart-2.png">
					</div>
				<div class="navbar-element-icon" id="nav-bar-picture-icon">
					<img width=100% src="/views/images/message-icon.png">
				</div>
				</div>
				<div class="comment-write-box">
					<div class="horizontal"><input type="text" placeholder="Add a comment"  class="chat-text-box comment-box"/></div>
				</div>
					
					</div>
					<div class="comment-display-box">
							<div class='' align='left'><div>
								<div class="post-content-header">
									<div class="navbar-element-icon" id="nav-bar-picture-icon">
										<img height=100% id="nav-bar-profile-picture" width=100% src="https://s3.ap-south-1.amazonaws.com/ketu-user-profile-pictures/yash.jpg">
									</div>
									<div><h5><b>imyash8055</b></h5></div>
								</div>
								<p class=''>What has should have been all apologies asdasdas dasdasdasdasd </p></div>
							<div class="navbar-element-icon" id="nav-bar-picture-icon">
								<img width=50% src="/views/images/heart-2.png">
							</div>
							</div>
							<div class='' align='left'><div>
								<div class="post-content-header">
									<div class="navbar-element-icon" id="nav-bar-picture-icon">
										<img height=100% id="nav-bar-profile-picture" width=100% src="https://s3.ap-south-1.amazonaws.com/ketu-user-profile-pictures/yash.jpg">
									</div>
									<div><h5><b>imyash8055</b></h5></div>
								</div>
								<p class=''>What has should have been all apologies asdasdas dasdasdasdasd </p></div>
							<div class="navbar-element-icon" id="nav-bar-picture-icon">
								<img width=50% src="/views/images/heart-2.png">
							</div>
							</div>
					</div>
				</div>
			</div>
		</div>
			<div class="title-content user-content">
			<div class="post-content-header">
				<div class="navbar-element-icon" id="nav-bar-picture-icon">
					<img height=100% id="nav-bar-profile-picture" width=100% src="https://s3.ap-south-1.amazonaws.com/ketu-user-profile-pictures/yash.jpg">
				</div>
				<div><h5><b>imyash8055</b></h5></div>
			</div>
			<div class="post-content">
				<div class="post-content-container">
					<div class="status-content-box"><div align="left" style="margin: 15px;">What has should have been all apologies asdasdas dasdasdasdasd What has should have been all apologies asdasdas dasdasdasdasd What has should have been all apologies asdasdas dasdasdasdasd What has should have been all apologies asdasdas dasdasdasdasd What has should have been all apologies asdasdas dasdasdasdasd What has should have been all apologies asdasdas dasdasdasdasd What has should have been all apologies asdasdas dasdasdasdasd What has should have been all apologies asdasdas dasdasdasdasd What has should have been all apologies asdasdas dasdasdasdasd</div>
					<div class="post-content-footer">
						<div class="navbar-element-icon" id="nav-bar-picture-icon">
						<img width=100% src="/views/images/heart-2.png">
					</div>
				<div class="navbar-element-icon" id="nav-bar-picture-icon">
					<img width=100% src="/views/images/message-icon.png">
				</div>
				</div>
				<div class="comment-write-box">
					<div class="horizontal"><input type="text" placeholder="Add a comment"  class="chat-text-box comment-box"/></div>
					<p align="left" style="margin: 15px;">View All Comments</p>
				</div>
				</div>
					<div class="status-comment-display-box">
							<div class='' align='left'>
								<div class="post-content-header">
									<div class='comment-header'>
										<div class="navbar-element-icon" id="nav-bar-picture-icon">
											<img height=100% id="nav-bar-profile-picture" width=100% src="https://s3.ap-south-1.amazonaws.com/ketu-user-profile-pictures/yash.jpg">
										</div>
										<div><h5><b>imyash8055</b></h5></div>
									</div>
									<div>
									<p class=''>What has should have been all apologies asdasdas dasdasdasdasd
									What has should have been all apologies asdasdas dasdasdasdasd
									What has should have been all apologies asdasdas dasdasdasdasd
									What has should have been all apologies asdasdas dasdasdasdasd
									What has should have been all apologies asdasdas dasdasdasdasd
									What has should have been all apologies asdasdas dasdasdasdasd 
									What has should have been all apologies asdasdas dasdasdasdasd
									What has should have been all apologies asdasdas dasdasdasdasd
									What has should have been all apologies asdasdas dasdasdasdasd  </p>
									<div class="navbar-element-icon like-button" id="nav-bar-picture-icon">
										<img width=50% src="/views/images/heart-2.png">
									</div>
									</div>
								</div>
					</div>
				</div>
				<div class="status-comment-display-box">
							<div class='' align='left'>
								<div class="post-content-header">
									<div class='comment-header'>
										<div class="navbar-element-icon" id="nav-bar-picture-icon">
											<img height=100% id="nav-bar-profile-picture" width=100% src="https://s3.ap-south-1.amazonaws.com/ketu-user-profile-pictures/yash.jpg">
										</div>
										<div><h5><b>imyash8055</b></h5></div>
									</div>
									<div>
									<p class=''>What has  </p>
									<div class="navbar-element-icon like-button" id="nav-bar-picture-icon">
										<img width=50% src="/views/images/heart-2.png">
									</div>
									</div>
								</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>
</body>
</html>