<!DOCTYPE html>
<html>
<head>
    <title>Hello WebSocket</title>
    <link href="../webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="../webjars/jquery/jquery.min.js"></script>
    <script src="../webjars/sockjs-client/sockjs.min.js"></script>
    <script src="../webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/views/app.js"></script>
	<style>
		.wrap{
			float:left;
			display:inline;
			margin-left:2px;
		}
		.table>tbody>tr>td{
		border:none;
		}
	</style>
</head>

<body onload="load()">
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div id="main-content" class="container">
<div class="row">
	<div class="col-md-4">
	<div >
		<p class="wrap">Hello,</p>
		<p class= "wrap" id="username">Random User</p>&nbsp
		<p class= "wrap">with Authentication token</p>&nbsp
		<p id="auth-token" class= "wrap">NONE</p>
	</div>

	</div>
</div>
        <div class="col-md-6">
            <form class="form-inline">
                
                	<table class="table">
	                	<tr style="border:none;">
	                		<td>
	                		<label for="name">Want to send message to:</label>
	                		</td>
	                		<td>
	                		 <input type="text" id="receiver" class="form-control" placeholder="Name">
	                		</td>
	                	</tr>
	                	<tr style="border:none;">
	                		<td>
	                		 <label for="name">Type your message here</label>
	                		</td>
	                		<td>
	                		 <textarea id="message" class="form-control" placeholder="message"></textarea>
	                		</td>
	                	</tr>
                	</table>
                	<button id="send" class="btn btn-light" type="submit">Send</button>
                </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>Chat:</th>
                </tr>
                </thead>
                <tbody id="chat">
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>