<html>
    <head>
        <title>Spring Security Example </title>
        <link href="../webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	    <script src="../webjars/jquery/jquery.min.js"></script>
	    <script src="../webjars/sockjs-client/sockjs.min.js"></script>
	    <script src="../webjars/stomp-websocket/stomp.min.js"></script>
   		
  		<script src="/views/js/login.js"></script>
    	<link href="/views/css/loginpage.css" rel="stylesheet"></link>
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
	<body>
		<div class="login-box">
			<div><p class="logo">Ketu</p></div>
			<div><p class="login-text"><b>Login with your credentials</b></p></div>
			<div class="login-form">
				<div class="input-group">
					<span class="input-group-addon">
				        <i class="glyphicon glyphicon-user"></i>
				    </span>
				    <input type="text" class="form-control" placeholder="Username" id="username"/>
				</div>
				<div class="input-group">
					<span class="input-group-addon">
				        <i class="glyphicon glyphicon-lock"></i>
				    </span>
				    <input type="password" class="form-control" placeholder="Password" id="password"/>
				</div>
				<div class="input-group">
					<p class="error-message">User Not found</p>
				</div>
			</div>
			<div style="width:70%;margin:auto;"><button class="btn btnfull" onclick="login()">Login</button></div>
		</div>
    </body>
</html>