<html>
    <head>
        <title>Spring Security Example </title>
    </head>
        <script src="/views/js/config.js"></script>
   <script src="/views/js/login.js"></script>
    <body>
        <form  method="post">
            <div><label> User Name : <input type="text" id = "username" name="username"/> </label></div>
            <div><label> Password: <input type="password" id= "password" name="password"/> </label></div>
            <div><input type="button" value="Sign In" onclick="login()"/></div>
        </form>
        
        <a href="/views/register.html">Register</a>
        <p id="test"></p>
    </body>
</html>