
	<script>
		$("#profile-icon").on('click',function(){
			window.location.href = env+"/user?user="+currentUser.userName;
		});
		$("#message-icon").on('click',function(){
			window.location.href = env+"/chat";
		});
		$("#dashboard-icon").on('click',function(){
			window.location.href = env+"/dashboard";
		});
		$('.display-options-box').hide(); 
		
		$('#nav-bar-picture-icon').click(function(e) {                              
		   $('#options-pop-box').toggle();  
		});
		$('#notification-icon').click(function(e) {                              
			   $('#notification-pop-box').toggle(); 
			   $('#notification-nav-bar').text(0);
			   $('#notification-nav-bar').css({"background":"transparent","color":"transparent"});
			});
	</script>
	
	<div class="logo">Ketu</div>
	<div class="navbar-element">
	<div class="icons">
		<div class="navbar-element-content">
			<div class="navbar-element-icon" id="nav-bar-picture-icon"><img height=100% id="nav-bar-profile-picture" width=100% alt="">
			</div>
		</div>
		<div class="navbar-element-content" id="notification-icon">
			<div class="navbar-element-icon"><img height=100% width=100% alt="" src="/views/images/notification-icon.png" style="background:#4a0080;padding:5px">
			<p class='notification-number notification-nav-bar' id='notification-nav-bar'>0</p></div>
		</div>
		<div class="navbar-element-content" id="profile-icon">
			<div class="navbar-element-icon"><img height=100% width=100% alt="" src="/views/images/profile-icon.png" style="background:#4a0080;padding:5px"></div>
		</div>
		<div class="navbar-element-content" id="message-icon">
			<div class="navbar-element-icon"><img height=100% width=100% alt="" src="/views/images/message-icon-2.png.png" style="background:#4a0080;padding:5px"></div>
		</div>
		<div class="navbar-element-content" id="dashboard-icon">
			<div class="navbar-element-icon"><img height=100% width=100% alt="" src="/views/images/dashboard.png" style="background:#4a0080;padding:5px"></div>
		</div>
	</div>
	<div class="display-options-box small-display" id="options-pop-box">
	<ul class="settings-box">
		<li>Account Settings<hr></li>
		<li>General Settings<hr></li>
		<li>Privacy Concerns<hr></li>
		<li>Activity<hr></li>
		<li>Logout</li>
	</ul>
	</div>
	<div class="display-options-box large-display" id="notification-pop-box">
	<ul class="notification-box-display" id="notification-box-display">
	<li class='unread-notification'>
		<div style='display: flex;flex-direction:column;margin-left:5px;'><h5><b>View All Notification</b></h5></div>
	</li>
	</ul>
	</div>
	</div>