<html>
<head>
    <title>Register Yourself</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	    <script src="../webjars/jquery/jquery.min.js"></script>
	    <script src="../webjars/sockjs-client/sockjs.min.js"></script>
	    <script src="../webjars/stomp-websocket/stomp.min.js"></script>
   		
  		<script src="/views/js/login.js"></script>
    	<link href="/views/css/loginpage.css" rel="stylesheet"></link>
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <script>
    function register(){
    	var request = {
    			'userName' :$('#userName').val(),
    			'firstName':$('#firstName').val(),
    			'lastName':$('#lastName').val(),
    			'bio':$('#bio').val(),
    			'password' :$('#password').val(),
    			'dob':$('#select-date').val()+"/"+$('#select-month').val()+"/"+$('#select-year').val(),
    			'yearOfBirth':$('#select-year').val(),
    			'gender':$("#gender").val(),
    			'phoneNumber':$("#phoneNumber").val(),  
    			'email':$("#email").val(),  
    	}
    	var xmlHttp = new XMLHttpRequest();
		xmlHttp.onreadystatechange =function(){
			if(xmlHttp.readyState == 4 && xmlHttp.status == 200){
				logon(this.responseText);
			}
		}
		xmlHttp.open("POST",env+"/public/users/register",true);
		xmlHttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
		xmlHttp.send(JSON.stringify(request));
    	
    }
    
    function logon(token){
    	var xmlHttp = new XMLHttpRequest();
		xmlHttp.onreadystatechange =function(){
			var response = JSON.parse(this.responseText);
			if(xmlHttp.readyState == 4 && xmlHttp.status == 200){
				document.location.href = env+"/user?user="+response.userName;
			}
		}
		xmlHttp.open("GET",env+"/public/users/getUser?token="+token,true);
		xmlHttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
		xmlHttp.send(null);
    }
    $(function(){
    	for(var i=1;i<=31;i++){
    		$(".select-date").append("<option>"+i+"</option>");
    	}
    	for(var i=1;i<=12;i++){
    		$(".select-month").append("<option>"+i+"</option>");
    	}
    })
     </script>
</head>
<style>
.navbar-nav{
	position:fixed;
	top:0px;
	margin-top:0px;
	background-image: linear-gradient(to right ,#46377b,#6f4e96);
	margin-left:auto;
	margin-right:auto;
	width:100%;
	height:50px;
	box-shadow:0px 0px 10px #8042f4;
    z-index: 10;
}
.logo{
    float: left;
    font-size: 25px;
    height: 80%;
    width: 100px;
    margin-left: 20px;
    margin-top: 5px;
    text-align: center;
    color: whitesmoke;
    border-radius: 5px;
    font-family: Spantaran;
    background-image: linear-gradient(to left ,#46377b,#6f4e96);
}
.form-control:focus{
	border:1px solid #46377b;
	box-shadow:0px 0px 3px #46377b;
}
</style>
<body>
<nav class="navbar-nav">
		<div class="logo">Ketu</div>
</nav>
<div class="main container">
	<div class="login-box register-box">
	<form>
	<div class="row">
	    <div class="col">
	    <label for="firstName">First Name</label>
	      <input type="text" class="form-control" id="firstName" placeholder="First name">
	    </div>
	    <div class="col">
	    <label for="lastName">Last Name</label>
	      <input type="text" class="form-control" id="lastName" placeholder="Last name">
	    </div>
  	</div>
  	<div class="row">
	    <div class="col">
	    <label for="userName">User Name</label>
	      <input type="text" class="form-control" id="userName" placeholder="Username">
	      <small>Any username you want , like joe smith, anakinskywalker, professorX</small>
	    </div>
  	</div>
  	<div class="row">
	    <div class="col">
	    <label>Gender</label>
	      <select id="gender" class="form-control">
	      	<option>Male</option>
	      	<option>Female</option>
	      	<option>Others</option>
	      	<option>I want to skip this</option>
	      </select>
	    </div>
	    <div class="col">
	    <label>Date of Birth</label>
	    <div class="row">
	    <div class="col">
	      <select  class="form-control select-date">
	      <option selected>Date</option>
	      </select>
	      </div>
	      <div class="col">
	      <select  class="form-control select-month">
	      	<option selected>Month</option>
	      </select>
	      </div>
	      <div class="col">
	      <input type="text" class="form-control" id="select-year" placeholder="Year">
	      </div>
	      </div>
	    </div>
  	</div>
  	<div class="row">
	    <div class="col">
	    <label for="emailId">Email</label>
	      <input type="text" class="form-control" id="emailId" placeholder="Email Address">
	      <small>Mandatory emailId so we know you aint no bot</small>
	    </div>
	    <div class="col">
	    <label for="phone">Phone Number</label>
	    <div class="row">
		    <div class="col">
		     <input type="text" class="form-control" id="countrycode" value="+91">
		    </div>
		  </div>
	    </div>
  	</div>
  	<div class="row">
	    <div class="col">
	    <label for="bio">Bio</label>
	      <input type="text" class="form-control" id="bio" placeholder="bio">
	      <small>One line about you. Dont put smileys, they made bad impact.</small>
	    </div>
  	</div>
	</form>
	<div style="width:70%;margin:auto;"><button class="btn btnfull" onclick="register()">Create Account</button></div>
	</div>
</div>
</body>
</html>