@media screen and (max-width:600px){
	.center{
		display:none;
	}
	.left{
		display:none;
	}
	.right{
		width:100%;
		height:100%;
		left:0px;
		margin:0px;
	}
	.dashboard-header-post>input{
		width:100%;
	}
	
	.content-container{
		position:fixed;
		width:100%;
		margin:0px;
		height:92%;
	}
}