.cropper{
	position:absolute;
	top:0px; 
	left:0px;
	background:transparent;
	width:100px;
	height:100px;
	cursor:move;
}
.cropper>ul>li{
	height:20px;
	width:20px;
	position:absolute;
	cursor:crosshair;
}
.cropper-container{
	position:relative;
	left:0;
	width:auto;
	height:auto;
	min-width:100px;
	margin-right: 0px;
 	margin-left: 0px;
	display:block;
	overflow:hidden;
}
.top-left-resizer{
	top:0;
	left:0;
	border-left:3px solid #DCDCDC;
	border-top:3px solid #DCDCDC;
}
.top-right-resizer{
	top:0;
	right:0;
	border-right:3px solid #DCDCDC;
	border-top:3px solid #DCDCDC;
}
.bottom-left-resizer{
	bottom:0;
	left:0;
	border-left:3px solid #DCDCDC;
	border-bottom:3px solid #DCDCDC;
}
.bottom-right-resizer{
	bottom:0;
	right:0;
	border-right:3px solid #DCDCDC;
	border-bottom:3px solid #DCDCDC;
}