@font-face {
    font-family: Spantaran;
    src: url(/ui/fonts/btxitally.otf);
}
.navbar-nav{
	position:fixed;
	top:0px;
	margin-top:0px;
	background-image: linear-gradient(to right, #4a0080,#8042f4);
	margin-left:auto;
	margin-right:auto;
	width:100%;
	height:50px;
	box-shadow:0px 0px 10px #8042f4;
    z-index: 10;
}
.logo{
    float: left;
    font-size: 25px;
    height: 80%;
    width: 100px;
    margin-left: 20px;
    margin-top: 5px;
    text-align: center;
    color: whitesmoke;
    border-radius: 5px;
    font-family: Spantaran;
}
.navbar-element{
	height:100%;
	width:auto;
	margin-right:10%;
	display: inline-grid;
    float: right;

}
.icons>div{
	height: 100%;
    width: auto;
    display: flex;
    margin-left: 15px;
    margin-top:10px;
   	text-align: -webkit-center;
   	text-align: -moz-center;
	align-items: center;
	float: right;
    flex-direction: column;
}
.navbar-element-icon{
	height:60%;
	width:30px;
	border-radius:50%;
	cursor:pointer;
}
.navbar-element-icon>img{
	border-radius:50%;
}
.navbar-element-title{
	text-alignment:center;
}
#nav-bar-profile-picture{
	height:30px;
	background-image: linear-gradient(to left, white,#d1d1e0);
     background-size: 200% 200%;
   	-webkit-animation-name: animate-profile-download ; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: animate-profile-download ;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
.display-options-box{
	display:inline-block;
	display:-moz-deck;
	z-index:100;
    height: auto;
    width: 200px;
	background:white;
	border:1px solid #DCDCDC;
}
.display-notification-box{
	display:inline-block;
	display:-moz-deck;
	z-index:100;
    height: auto;
    width: 200px;
	background:white;
	border:1px solid #DCDCDC;
}
.settings-box{
	padding:0px;
}
.settings-box>li{
	font-size: 12px;
	width:100%;
	text-align:center;
	cursor:pointer;
}
.settings-box>li:hover{
	background-color:#DCDCDC;
}
.edit-profile-option{
	width:100%;
	align-items:center;
}
.settings-box>li>hr{
	margin-top:8px;
	margin-bottom:8px;
}

.large-display{
	width: 400px;
}
.auto-display{
	width: auto;
	min-width:300px
}
ul{
	list-style:none;
}
.notification-box-display{
	padding:0px;
	margin:0px;
}
.notification-box-display>li{
	
	display:flex;
	flex-direction: row;
	padding:10px;
	padding-left:20px;
	cursor:pointer;
}
.unread-notification{
	background:	#E6E6FA;
}
.read-notification{
	background:	white;
}
p{
	margin-bottom:0px;
}
h5{
	margin:0px;
}

.connection-display-name{
	width: 75px;
	display: flex;
	flex-direction:column;
	margin-left:15px;
	margin-right:15px;
	text-align:center;
	word-wrap: break-word
}

.connection-display-btn{
	display: flex;
	lex-direction:column;
	margin-left:5px;
	text-align:center
}

.connection-white-btn{
	background-image: linear-gradient(to left ,white,whitesmoke);
    color: black;
    border: 1px solid #46377b;

}
.connection-white-btn:hover{
	background-image: linear-gradient(to left ,white,whitesmoke);
    color: black;
    border: 1px solid #46377b;

}


.connection-bottom-line{
	margin:2px;
	
}

#connections-box-display>li{
	background:white;
}

.search-bar{
	width:70%;
	margin:auto;
	margin-left:auto;
	padding:5px;
	border-radius:5px;
	border:1px solid #4a0080;
	background:whitesmoke;
	text-align:center; 
}
@media screen and (max-width:600px){
	.navbar-nav{
		height:8%;
		margin:0px;
	}
	.logo{
	display:none;
	}
	.searchbar{
		display:none;
	}
	
}
