.navbar-nav{
	position:fixed;
	top:0px;
	margin-top:0px;
	background-image: linear-gradient(to right ,#46377b,#6f4e96);
	margin-left:auto;
	margin-right:auto;
	width:100%;
	height:50px;
	box-shadow:0px 0px 10px #8042f4;
    z-index: 10;
}
.logo{
    float: left;
    font-size: 25px;
    height: 80%;
    width: 100px;
    margin-left: 20px;
    margin-top: 5px;
    text-align: center;
    color: whitesmoke;
    border-radius: 5px;
    font-family: Spantaran;
    background-image: linear-gradient(to left ,#46377b,#6f4e96);
}
.form-control:focus{
	border:1px solid #46377b;
	box-shadow:0px 0px 3px #46377b;
}
.error-message-display{
	color:#b30000;
}
.success-message-display{
	color:teal;
}
.register-box{
	margin-top: 70px;
	padding: 20px;
	margin-left:10%;
	margin-right:10%;
	width: 80%;
	background-color:whitesmoke;
	border:1px solid whitesmoke;
	box-shadow:0px 0px 1px #6f4e96;
	border-radius:5px;
	 
}
.container{
	padding:0px;
	margin:0px;
}

@media screen and (max-width:700px){
	
	.register-box{
	 margin-top: 70px;
	 padding: 15px;
	 margin-left:0px;
	 margin-right:0px;
	 width: 100%;
}
	.sm-display-row{
		display: flex;
	    flex-direction: column;
	    width: 100%;
    	min-width: 100%;
    	margin-top:5px;
    	margin-bottom:10px;
	}
}